.container{
    margin: auto;
    margin-top: 20px;
    width: 50rem;
}


.card{
    display: flex;
    justify-content:center;
    background-color:ghostwhite;
    margin: auto;
    margin-top: 20px;
    /* width:60rem; */
    height: 20rem;;
}

.icon_container{
    display: flex;
    justify-content:center;
}

.icon{
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 50%;
    filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
}

.logo{
    display: flex;
    justify-content:center;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
