.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;    
}

.card{
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.card_title{
    margin-top: 20px;
    text-align: center;
    font-weight: bolder;
}

.skill_card{
    width: 100px;
    height: 100px;
    filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
}

.skill_icon{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20%;
}

.skill_text{
    text-align: center;
    white-space: nowrap;
    font-size: small;
}